* {
	margin: 0;
	padding: 0;
	border-style: border-box;
  scroll-behavior: smooth;
}

body {
  background: url(../images/AlayAllyBannerResized.png) no-repeat bottom center fixed;
  background-size: cover;
}

/*Landing Page*/

#landingPage {
  color: #FFFFFF;
  text-align: center;
  text-shadow: 1px 1px 8px #000000;
  padding-top: 70px;
  font-family: 'Roboto', sans-serif;
}

#awesomeName {
  font-size: 11vmin;
}

.headersAndTexts {
  color: #FFFFFF;
  text-shadow: 1px 1px 8px #000000;
}

/*Scroll*/
.scroll a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.scroll a:hover {
  opacity: .5;
  color: white;
}

#section01 a {
  padding-top: 70px;
}

#section01 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb01 1.5s infinite;
  animation: sdb01 1.5s infinite;
  box-sizing: border-box;
}

/*budgetbar*/

#budgetBar {
  /*overflow: hidden;*/
  background-color: #333;
  color: white;
  /*width: 80vw;*/
  /*opacity: 50%;*/
}

/*.wholeBudget {
  background-color: #333;
  color: green;
}

.halfBudget {
  background-color: #333;
  color: yellow;
}

.quarterBudget {
  background-color: #333;
  color: orange;
}

.overBudget {
  background-color: #333;
  color: red;
}*/

/*#budgetBar h1 {
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;*/
  /*float: left;*/
  /*color: #f2f2f2;*/
/*}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}*/

/*Input Section*/
#actualApp {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#addItemSection {
  padding: 50px;
  text-align: left;
}

#addToListBtn:hover {
  background-color: white;
  color: black;
}

/*Sorted list*/
/*Paper style*/

.pattern {
  height: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px,  teal 25px);
  padding: 10px 10px 10px 20px;
}

#theList {
  padding: 10px;
  font-family: 'Kalam', cursive;
  justify-content: center;
  margin: auto;
  text-align: center;
  color: black;
  /*z-index: -9999;*/
}

.listTitle {
  text-align: center;
}

.indivLists {
  padding: 10px;
  width: 50%;
  text-align: left;
  /*align-items: center;*/
  /*justify-content: center;*/
  margin: auto;
}

ul {
  list-style: none;
}

ul li {
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checked {
  text-decoration: line-through;
}

.checkmark::before {
  content: "\2713     ";
}

.undoAndCloseBtns {
  cursor: pointer;
  position: absolute;
  right: 8%;
}

.close:clicked {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  color: #fff;
}

/*.close:hover {
  background-color: #f44336;
  color: white;
}*/

/*Budget tracker*/
.itemPrice {
  display: inline-block;
  width: 100px;
  height: 50px;
  padding: 5px;
}

#itemsBought {
  width: 10%;
  height: 30px;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
}


/*RESPONSIVENESS*/

@-webkit-keyframes sdb01 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb01 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
